<div class="sidebar">
    <div class="sidebar-brand">
      <img class="im" src="../../assets/img/Hippomed.png" alt="">
    </div>
    <div class="sidebar-menu">
      <ul>
        <li>
          <a class="active" routerLink="/patients/appointement">
            <i class="las la-stethoscope"></i>
            <span class="nav-item">Prise de rendez-vous</span>
          </a>
        </li>
        <li>
          <a class="active" routerLink="/patients/consultations">
            <i class="las la-list-alt"></i>
            <span class="nav-item">Mes consultations</span>
          </a>
        </li>
        <li>
          <a class="active" routerLink="/patients/devis">
            <i class="las la-folder-open"></i>
            <span class="nav-item">Mes devis</span>
          </a>
        </li>
        <li>
          <a class="active" routerLink="/patients/documents">
            <i class="las la-folder-open"></i>
            <span class="nav-item">Mes documents médicaux</span>
          </a>
        </li>
        <li>
          <a class="active" routerLink="/patients/account">
            <i class="las la-user"></i>
            <span class="nav-item">Mon compte</span>
          </a>
        </li><br><br><br><br><br><br>
        <li>
          <a class="active" style="padding-top:10px; height:60px;"  routerLink="/patients/account">
            <i class="las la-sign-out-alt"></i>
            <span class="nav-item" style="margin-left: -10px; "><app-logout-button></app-logout-button></span>
          </a>
        </li>     
      </ul>
    </div>
  </div>