<section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Pourquoi choisir HippoMed ?</h3>
            <p>
              L'application web que nous avons développée a été conçue pour faciliter la connexion entre les médecins
              et les patients grâce à l'intégration de l'intelligence artificielle (IA). Cette plateforme innovante
              offre un espace virtuel où les patients peuvent trouver rapidement des médecins qualifiés correspondant
              à leurs besoins médicaux spécifiques.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <fa-icon style="font-size:22px;color:#1977cc" [icon]="faBullseye" size="xl"></fa-icon>
                  <h4>Notre Mission</h4>
                  <p>Notre Mission est de vous garantir le meilleur service médical à travers nos médecins partenaires
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <fa-icon style="font-size:22px;color:#1977cc" [icon]="faCube " size="xl" ></fa-icon>

                  <h4>Votre accès</h4>
                  <p>Obtenez votre accès directement pour un premier rendez-Vous en ligne avec nos médecins</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <div></div>
                  <fa-icon style="font-size:22px;color:#1977cc" [icon]="faImages" size="xl"></fa-icon>

                  <h4>Découvrez nos partenaires hotelliers</h4>
                  <p>Hippomed a accès à plus de 50 propriétés de très haut standing à des prix défiant toute
                    concurrence.</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->
