<!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors">
    <div class="container">

        <div class="section-title">
            <h2>Notre Equipe</h2>
            <p>Nous combinons à la fois du savoir faire dans le web , dans la création de documentaires ainsi que dans
                la
                logistique et le service à la clientèle</p>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="./assets/img/doctors/Pascaline2.jpeg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Pascaline Mussot</h4>
                        <span>Directrice de production et de média</span>
                        <p>Cinéma , production, tournages , Media</p>
                        <div class="social">
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faTwitter"></fa-icon>
                            </a>
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faFacebook"></fa-icon>
                            </a>
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faInstagram"></fa-icon>
                            </a>
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faLinkedin"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="./assets/img/doctors/Walid.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Walid Guellouz</h4>
                        <span>CEO </span>
                        <p>Gestionnaire de projet , Développeur Web </p>
                        <div class="social">
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faTwitter"></fa-icon>
                            </a>
                            <a href="">
                                <fa-icon style="color: white;"  [icon]="faFacebook"></fa-icon>
                            </a>
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faInstagram"></fa-icon>
                            </a>
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faLinkedin"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="./assets/img/doctors/jeremy.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Jeremy Pacchiardi</h4>
                        <span>Directeur commercial</span>
                        <p>Développeur commercial , relation client</p>
                        <div class="social">
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faTwitter"></fa-icon>
                            </a>
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faFacebook"></fa-icon>
                            </a>
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faInstagram"></fa-icon>
                            </a>
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faLinkedin"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="./assets/img/doctors/Mehdi1.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mehdi Makhlouf</h4>
                        <span>Avocat</span>
                        <p>Département légal et rédaction de contrats</p>
                        <div class="social">
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faTwitter"></fa-icon>
                            </a>
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faFacebook"></fa-icon>
                            </a>
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faInstagram"></fa-icon>
                            </a>
                            <a href="">
                                <fa-icon style="color: white;" [icon]="faLinkedin"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Doctors Section -->