<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>Hippomed se distingue comme une application web novatrice opérant dans le domaine en pleine croissance du
          tourisme médical. Cette plateforme révolutionnaire offre une gamme complète de services destinés à faciliter
          le voyage à des fins médicales, que ce soit pour des traitements spécialisés, des interventions
          chirurgicales ou des consultations médicales de haut niveau. Hippomed se positionne comme un guichet unique
          pour les patients internationaux en quête de soins médicaux de qualité, en leur proposant des informations
          détaillées sur les destinations médicales, les établissements de santé, les médecins spécialisés et les
          procédures disponibles. Grâce à une interface conviviale, les utilisateurs peuvent comparer les options,
          obtenir des devis personnalisés, planifier leur itinéraire médical et même réserver des séjours combinant
          soins de santé et tourisme. Avec son engagement envers l'excellence médicale et l'expérience des patients,
          Hippomed ouvre de nouvelles perspectives passionnantes pour ceux qui cherchent à allier soins médicaux de
          pointe et découvertes touristiques.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon">
              <fa-icon style=" font-size: 20px" [icon]="faHeartbeat" size="xl"></fa-icon>
              <i class="fas fa-heartbeat"></i>
            </div>
            <h4><a href="doctors.html">Sélection de votre docteur</a></h4>
            <!-- <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon">
              <fa-icon style=" font-size: 20px" [icon]="faPills" size="xl"></fa-icon>

              <i class="fas fa-pills"></i>
            </div>
            <h4><a href="https://property.thelandlord.tn/logements-courte-duree-tunisie/">Réservation de votre
                appartement</a></h4>
            <!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon">
              <fa-icon style=" font-size: 20px" [icon]="faHospitalUser" size="xl"></fa-icon>

              <i class="fas fa-hospital-user"></i>
            </div>
            <h4><a
                href="https://www.skyscanner.fr/ca/en-gb/eur/flights-to/tun/cheap-flights-to-tunis-carthage-airport.html">Réservation
                de votre vol</a></h4>
            <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon">
              <fa-icon style=" font-size: 20px" [icon]="faDna" size="xl"></fa-icon>
              <i class="fas fa-dna"></i>
            </div>
            <h4><a [routerLink]="['/patients/register']">Consultation en visio</a></h4>
            <!-- <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon">
              <fa-icon style=" font-size: 20px" [icon]="faWheelchair" size="xl"></fa-icon>
              <i class="fas fa-wheelchair"></i>
            </div>
            <h4><a href="doctors.html">Obtention de devis </a></h4>
            <!-- <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon">
              <fa-icon style=" font-size: 20px" [icon]="faNotesMedical" size="xl"></fa-icon>

              <i class="fas fa-notes-medical"></i>
            </div>
            <h4><a href="">Documents médicaux</a></h4>
            <!-- <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p> -->
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->