<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contactez nous via e mail ou par telephone et nous nous ferons un plaisir de vous accompagner</p>
        </div>
    </div>

    <div>
        <!-- <iframe style="border:0; width: 100%; height: 350px;"
        src="https://www.google.com/maps/place/R%C3%A9sidence+Panorama/@36.8503677,10.2894601,626m/data=!3m2!1e3!4b1!4m6!3m5!1s0x12e2b52d6094dce9:0x924b89248c030544!8m2!3d36.8503677!4d10.292035!16s%2Fg%2F11g690wf2t?entry=ttu"
        frameborder="0" allowfullscreen></iframe> -->
        <div class="mapouter">
            <div class="gmap_canvas"><iframe
                    src="https://maps.google.com/maps?q=Residence%20Panorama%20Jardins%20de%20Carthage,%20Tunis%201090%20Tunisia&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                    id="gmap_canvas" frameborder="0" scrolling="no" style="width: 100%; height: 400px;"></iframe>
                <style>
                    .mapouter {
                        position: relative;
                        margin: auto
                    }
                </style>
                <style>
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                    }
                </style>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Emplacement:</h4>
                        <p>Residence Panorama les jardins de Carthage , tunis , Tunisie</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>contact@hippomed.ai</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Appelez:</h4>
                        <p>+216 95 239 102</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                            required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Votre message a bien été envoyé!</div>
                    </div>
                    <div class="text-center"><button type="submit">Envoyer un message</button></div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->