<!-- ======= Departments Section ======= -->
<section id="departments" class="departments">
    <div class="container">

        <div class="section-title">
            <h2>Départements</h2>
            <p>Pour vos soins médicaux nous avons séléctionné un réseau de praticiens polyglotes pour vous assurer le
                meilleur service et les meilleures prestations</p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Cabinets dentaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Orthodentistes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Chirurgiens dentistes </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Chirurgiens esthétiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Cliniques partenaires</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Cabinets dentaires</h3>
                                <p class="fst-italic">Faites nous confiance dans le choix de nos partenaire</p>
                                <p>
                                    Les cabinets dentaires associés à Hippomed.ai bénéficient d'une technologie de
                                    pointe pour offrir
                                    des soins dentaires de la plus haute qualité. Grâce à l'intelligence artificielle
                                    d'Hippomed.ai,
                                    ces cliniques sont en mesure de diagnostiquer et de traiter les problèmes dentaires
                                    de manière
                                    plus précise et efficace. Les patients peuvent ainsi s'attendre à des consultations
                                    plus rapides
                                    et à des résultats plus satisfaisants. Avec l'innovation d'Hippomed.ai, les cabinets
                                    dentaires se
                                    positionnent en tant que pionniers dans le domaine des soins bucco-dentaires,
                                    offrant une
                                    expérience optimale à leurs patients.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Cabinets d'Orthodentistes</h3>
                                <!-- <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer
                        a videna mareta paulona marka</p>
                      <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt
                        est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque
                        beatae accusamus lerode pakto madirna desera vafle de nideran pal</p> -->
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Chirurgiens dentistes </h3>
                                <!-- <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus
                        non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                      <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque
                        necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum
                        odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p> -->
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <!-- <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3> -->
                                <!-- <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis
                        delectus</p>
                      <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam
                        fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores
                        sed qui veritatis aperiam quia a laborum inventore</p> -->
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <!-- <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3> -->
                                <!-- <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                      <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut
                        quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae
                        molestiae voluptate vel</p> -->
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Departments Section -->