<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Novena- Health & Care Medical template</title>

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" /> -->

  <!-- bootstrap.min css -->
  <!-- <link rel="stylesheet" href="./plugins/bootstrap/css/bootstrap.min.css"> -->
  <!-- Icon Font Css -->
  <!-- <link rel="stylesheet" href="./plugins/icofont/icofont.min.css"> -->
  <!-- Slick Slider  CSS -->
  <!-- <link rel="stylesheet" href="./plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="./plugins/slick-carousel/slick/slick-theme.css"> -->

  <!-- Main Stylesheet -->
  <!-- <link rel="stylesheet" href="css/style.css"> -->

</head>

<body id="top">

    <div style=" margin-bottom: 0;">
        <app-navbar></app-navbar>
    </div>	


<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-5 text-lg" style="color:rgb(36, 35, 35);padding-top:50px">Alexandar ouni</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Doctor Details</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section doctor-single">
	<div class="container" style=" margin-left:250px ">
		<div class="row">
			<div class="col-lg-4 col-md-6" >
				<div class="doctor-img-block"  style="margin-right: 20px; ">
					<img src="../../assets/img/team-2.jpg" alt="" class="img-fluid w-60" style="width:350px;height:350px; margin-top:30px">

					<div class="info-block mt-4">
						<h4 class="mb-0">Alexandar ouni</h4>
						<p>General Practitioner</p>

						<ul class="list-inline mt-4 doctor-social-links">
							<li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-8 col-md-6" style="margin-top: 30px; width:700px; padding-left:20px ">
				<div class="doctor-details mt-4 mt-lg-0">
					<h2 class="text-md">Introducing to myself</h2>
					<div class="divider my-4"></div>
					<p>Greetings! I'm Dr. Alexandar ouni, and I'm delighted to extend my medical expertise through telemedicine, providing patients with the opportunity to access high-quality healthcare conveniently from the comfort of their own homes. With a passion for medicine and years of dedicated service, I'm here to offer compassionate and professional medical care, tailored to your individual needs.</p>
				<p>My journey in the field of medicine has been one marked by a profound commitment to the well-being of my patients. I embarked on this path with a relentless thirst for knowledge and an unwavering desire to make a positive impact on the lives of those I have the privilege to serve.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section doctor-qualification gray-bg">
	<div class="container" style=" margin-left:300px ">
		<div class="row" >
			<div class="col-lg-6">
				<div class="section-title">
					<h3>My Educational Qualifications</h3>
					<div class="divider my-4"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6"  style="margin-right:80px;">
				<div class="edu-block mb-5">
					<span class="h6 text-muted">Year(2012-2017) </span>
					<h4 class="mb-3 title-color">MBBS, M.D at University of Medical</h4>
<p>
	I earned my Medical Degree (M.D.) with honors, graduating magna cum laude from the University of Health Sciences on May 2017. This rigorous program provided me with a strong foundation in medical science and prepared me for the challenges of a career in medicine.
</p>				</div><br><br>

				<div class="edu-block" style="margin-bottom :50px;">
					<span class="h6 text-muted">Year(2017-2019) </span>
					<h4 class="mb-3 title-color">Residency in General Medicine:</h4>
<p>
	Following the completion of my Medical Degree, I embarked on a demanding and comprehensive Residency in General Medicine at New City Medical Center. This intensive training program spanned from July 2019 to June 2019 and allowed me to develop and refine my diagnostic and treatment skills. During this time, I had the opportunity to work closely with experienced medical professionals, further enhancing my medical knowledge and practical abilities.</p>				</div>
			</div>

			
		</div>
	</div>
</section>


<section class="section doctor-skills">
	<div class="container" style=" margin-left:300px ">
		<div class="row" >
			<div class="col-lg-4" style="width: 300px;margin-right:70px">
				<h3>My skills</h3>
				<div class="divider my-4"></div>
<p>My medical proficiency extends across a spectrum of essential skills for virtual healthcare delivery. Telemedicine, in particular, has been an area of focus, and I'm adept at conducting thorough virtual consultations, leveraging cutting-edge technology to ensure accurate and comprehensive care.</p>			</div>
			<div class="col-lg-4"  style="width: 300px;margin-right:70px">
				<div class="skill-list">
					<h5 class="mb-4">Expertise area</h5>
					<ul class="list-unstyled department-service">
						<li><i class="icofont-check mr-2"></i>General Health Concerns
						</li>
						<li><i class="icofont-check mr-2"></i>Primary Care Services</li>
						<li><i class="icofont-check mr-2"></i>Chronic Disease Management</li>
						<li><i class="icofont-check mr-2"></i>Medication Management</li>
						<li><i class="icofont-check mr-2"></i>Preventive Health and Wellness</li>
						<li><i class="icofont-check mr-2"></i>Emergency Assistance</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4" >
				<div class="sidebar-widget  gray-bg p-4"  style="padding: 30px; width:350px">
					<h5 class="mb-4">Medical Consultation Fees</h5>

					<ul class="list-unstyled lh-35">
					  <li class="d-flex justify-content-between align-items-center">
					    <strong> 25DT   -   30DT</strong> 
					  </li>
					  
					</ul>

					<div class="sidebar-contatct-info mt-4">
						<h3 class="text-color-2">+216 54 856 982</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- footer Start -->
<div style=" margin-bottom: 0;">
    <app-footer></app-footer>
</div>   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- <script src="plugins/jquery/jquery.js"></script> -->
    <!-- Bootstrap 4.3.2 -->
    <!-- <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/counterup/jquery.easing.js"></script> -->
    <!-- Slick Slider -->
    <!-- <script src="plugins/slick-carousel/slick/slick.min.js"></script> -->
    <!-- Counterup -->
    <!-- <script src="plugins/counterup/jquery.waypoints.min.js"></script>
    
    <script src="plugins/shuffle/shuffle.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>
    Google Map
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="js/script.js"></script>
    <script src="js/contact.js"></script> -->

  </body>
  </html>