<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Novena- Health & Care Medical template</title>



  

</head>

<div style=" margin-bottom: 0;">
    <app-navbar></app-navbar>
</div>
<body id="top">

<!-- /portfolio -->
<section class="section cta-page">
	<div class="container" style="height: 500px;">
		<div class="row">
			<div class="col-lg-7">
				<div class="cta-content">
					<div class="divider mb-4"></div>
					<h2 class="mb-8 text-lg" style="width: 900px; color:aliceblue">We are pleased to offer you the </h2>
                    <h2 style="width: 900px;color:aliceblue">chance to have the healthy</h2>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- portfolio -->
<section class="section doctors">
  <div class="container" style="margin-top:150px ;margin-left:190px">
  	  <div class="row " >
             <div class="col-lg-6 " >
                <div class="section-title" >
                    <h2>General practitioner</h2>
                    <div class="divider "></div>
                </div>
            </div>
        </div>

      
  </div>

  <!-- Team Start -->
  <div class="container-xxl py-5">
    <div class="container ">
       
        <div class=" foot">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="margin-right :70px ; margin-left :90px ;">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="../../assets/img/team-1.jpg" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Sayed Naifer</h5>
                        <p class="text-" style="color:#00B98E;">General Practitioner</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="margin-right :50px ;">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                       <a href="/one"> <img class="img-fluid" src="../../assets/img/team-2.jpg" alt=""></a>
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Alexandar ouni</h5>
                        <p class="text-" style="color:#00B98E; 
                        ">general practitioner</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" >
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden" style="max-width: 500px;">
                        <img class="img-fluid" src="../../assets/img/d3.png" alt="" >
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Myriam ben mami</h5>
                        <p class="text-" style="color:#00B98E;">general practitioner</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
             
            
        </div>
        <div class=" foot">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="margin-right :70px ; margin-left :90px ;">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="../../assets/img/d10.png" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Amin Ben Khlifa</h5>
                        <p class="text-" style="color:#00B98E;">General Practitioner</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="margin-right :50px ;">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="../../assets/img/d5.png" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Fatima Hamdi</h5>
                        <p class="text-" style="color:#00B98E;">general practitioner</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" >
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="../../assets/img/d7.png" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Ahmed Ben Amor</h5>
                        <p class="text-" style="color:#00B98E;">general practitioner</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
             
            
        </div>
        
    </div>
    <div style="margin-left :550px ; margin-top :70px ;">
    <a class="bt btn- rounded-pill py-3 px-5 mt-3" style="color:#00B98E;margin-left:-50px" href=""  >Read More</a>
</div>
</div>
<!-- Team End -->
</section>


<!-- portfolio -->
<section class="section doctors">
    <div class="container" style="margin-top:160px ;margin-left:190px">
  	  <div class="row " >
             <div class="col-lg-6 " >
                <div class="section-title" >
                      <h2>Dermatology
                    </h2>
                      <div class="divider "></div>
                  </div>
              </div>
          </div>
  
        
    </div>
  
    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container ">
         
          <div class=" foot">
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="margin-right :70px ; margin-left :90px ;">
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d4.png" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5> Ines Maatoug</h5>
                          <p class="text-" style="color:#00B98E;">Dermatologist</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="margin-right :50px ;">
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d13.jpg" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Lina Chaabane</h5>
                          <p class="text-" style="color:#00B98E;">Dermatologist</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" >
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d12.png" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Salma Rachedi</h5>
                          <p class="text-" style="color:#00B98E;">Dermatologist</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
               
              
          </div>
        </div>

      <div style="margin-left :550px ; margin-top :70px ;">
        <a class="bt btn- rounded-pill py-3 px-5 mt-3" style="color:#00B98E;margin-left:-50px" href=""  >Read More</a>
    </div>
  </div>
  <!-- Team End -->
  </section>
  
<!-- portfolio -->
<section class="section doctors">
    <div class="container" style="margin-top:160px ;margin-left:190px">
  	  <div class="row " >
             <div class="col-lg-6 " >
                <div class="section-title" >
                      <h2>Pediatrics</h2>
                      <div class="divider "></div>
                  </div>
              </div>
          </div>
  
        
    </div>
  
    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container ">
         
          <div class=" foot">
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="margin-right :70px ; margin-left :90px ;">
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d8.png" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Walid Mabrouk</h5>
                          <p class="text-" style="color:#00B98E;">Pediatrician</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="margin-right :50px ;">
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d9.jpg" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Khaled Hajji</h5>
                          <p class="text-" style="color:#00B98E;">Pediatrician</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" >
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d6.png" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Noura Bouzid</h5>
                          <p class="text-" style="color:#00B98E;">Pediatrician</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
               
              
          </div>
          
          
      </div>
      <div style="margin-left :550px ; margin-top :70px ;">
        <a class="bt btn- rounded-pill py-3 px-5 mt-3" style="color:#00B98E;margin-left:-50px" href=""  >Read More</a>
    </div>
  </div>
  <!-- Team End -->

  
  
  <!-- Team End -->
  </section>
  

  <!-- portfolio -->
<section class="section doctors">
    <div class="container" style="margin-top:160px ;margin-left:190px">
  	  <div class="row " >
             <div class="col-lg-6 " >
                <div class="section-title" >
                      <h2>Psychologist</h2>
                      <div class="divider"></div>
                  </div>
              </div>
          </div>
  
        
    </div>
  
    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container ">
         
          <div class=" foot">
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="margin-right :70px ; margin-left :90px ;">
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d1.jpg" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Riadh Maalej
                        </h5>
                          <p class="text-" style="color:#00B98E;">Psychologist</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="margin-right :50px ;">
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d2 (1).jpg" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Hichem Chaabane</h5>
                          <p class="text-" style="color:#00B98E;">Psychologist</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" >
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d14.jpg" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Amina Ben Ali</h5>
                          <p class="text-" style="color:#00B98E;">Psychologist</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
               
              
          </div>
          
          
      </div>
      <div style="margin-left :550px ; margin-top :70px ;">
        <a class="bt btn- rounded-pill py-3 px-5 mt-3" style="color:#00B98E;margin-left:-50px" href=""  >Read More</a>
    </div>
  </div>
  <!-- Team End -->

  
  
  <!-- Team End -->
  </section>
  

  <!-- portfolio -->
<section class="section doctors">
    <div class="container" style="margin-top:160px ;margin-left:190px">
  	  <div class="row " >
             <div class="col-lg-6 " >
                <div class="section-title" >
                      <h2> Psychiatry</h2>
                      <div class="divider "></div>
                  </div>
              </div>
          </div>
  
        
    </div>
  
    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container ">
         
          <div class=" foot">
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="margin-right :70px ; margin-left :90px ;">
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d20.png" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Mehdi Toumi</h5>
                          <p class="text-" style="color:#00B98E;">Psychiatrist</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="margin-right :50px ;">
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d18.png" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Ali Cherif</h5>
                          <p class="text-" style="color:#00B98E;">Psychiatrist</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" >
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d17.png" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Houda Chakroun</h5>
                          <p class="text-" style="color:#00B98E;">Psychiatrist</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
               
              
          </div>
          
          
      </div>
      <div style="margin-left :550px ; margin-top :70px ;">
        <a class="bt btn- rounded-pill py-3 px-5 mt-3" style="color:#00B98E;margin-left:-50px" href=""  >Read More</a>
    </div>
  </div>
  <!-- Team End -->

  
  
  <!-- Team End -->
  </section>
  

  <!-- portfolio -->
<section class="section doctors">
    <div class="container" style="margin-top:160px ;margin-left:190px">
  	  <div class="row " >
             <div class="col-lg-6 " >
                <div class="section-title" >
                      <h2>Nutritionist</h2>
                      <div class="divider "></div>
                  </div>
              </div>
          </div>
  
        
    </div>
  
    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container ">
         
          <div class=" foot">
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="margin-right :70px ; margin-left :90px ;">
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d15.png" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5> Dina Kacem</h5>
                          <p class="text-" style="color:#00B98E;">Nutritionist</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="margin-right :50px ;">
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d19.png" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Amal Khemiri</h5>
                          <p class="text-" style="color:#00B98E;">Nutritionist</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" >
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="../../assets/img/d16.png" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>Rania Jaouadi</h5>
                          <p class="text-" style="color:#00B98E;">Nutritionist</p>
                          <div class="team-social text-center">
                              <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
               
              
          </div>
          
          
      </div>
      <div style="margin-left :550px ; margin-top :70px ;">
        <a class="bt btn- rounded-pill py-3 px-5 mt-3" style="color:#00B98E;margin-left:-50px" href=""  >Read More</a>
    </div>
  </div>
  <!-- Team End -->

  
  
  <!-- Team End -->
  </section>
  


<!-- footer Start -->
<div style=" margin-bottom: 0;">
    <app-footer></app-footer>
</div>
   



  </body>
  </html>