<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">
            <div
                class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                <a href="https://youtu.be/pMoIoSGaD_s" class="glightbox play-btn mb-4"></a>
            </div>

            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>Hippomed.ai et l’intelligence artificielle</h3>
                <p>•<span>Le ciblage contextuel : la publicité est ciblée en fonction de son contexte éditorial, visuel,
                        etc. </span> <br>
                    <span>• Le ciblage socio-démographique : ciblage basé sur les critères d’âge, de sexe, de catégorie
                        socio-professionnelle. </span><br>
                    <span>• Le ciblage géographique : il permet à l’annonceur de cibler une région ou une ville précise
                    </span> <br>
                    <span>• Le ciblage temporel : il permet de diffuser une publicité au bon moment, sur un créneau
                        horaire
                        précis ou certains jours de la semaine. </span> <br>
                    <span>• Le ciblage comportemental : la publicité est diffusée ou non en fonction du comportement de
                        navigation des internautes.. </span> <br>
                    <span>• Le retargeting (ou remarketing) vise à adresser un message publicitaire personnalisé à un
                        internaute ayant déjà interagi avec la marque (visiteurs du site, followers de la page Facebook,
                        etc.).
                    </span> <br>
                </p>

                <div class="icon-box">
                    <div class="icon">
                        <fa-icon style="font-size:20px" [icon]="faFingerprint" size="xl"></fa-icon>
                    </div>
                    <h4 class="title"><a href="">La protection de vos données</a></h4>
                    <p class="description">Hippomed assure l'échange de vos documents avec les praticiens en toute
                        confidentialité et ne garde en banque aucune de vos données personnelles</p>
                </div>

                <div class="icon-box">
                    <div class="icon">
                        <fa-icon style="font-size:20px" [icon]="faGift" size="xl"></fa-icon>

                        <i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Les avantages concurrentiels</a></h4>
                    <p class="description">Hippomed s'engage à vous accompagner dès votre premier clic jusqu'à la fin de
                        votre
                        visite chez nous le tout pour une fraction des prix que vous payez déja pour vos soins médicaux
                        incluant
                        votre séjour et votre billet d'avion </p>
                </div>

                <div class="icon-box">
                    <div class="icon">
                        <fa-icon style="font-size:20px" [icon]="faAtom" size="xl"></fa-icon>

                        <i class="bx bx-atom"></i></div>
                    <h4 class="title"><a href="">Comment ça marche ?</a></h4>
                    <p class="description">Dès que vous cliquez sur un rendez-vous avec un de nos praticiens nous
                        assurons le
                        transfert de vos documents médicaux en toute sécurité. Nous nous occupons de vous présenter les
                        meilleures offres combinant soin médical hébergement et billet d'avion. A votre arrivée un de
                        nos
                        partenaires se charge de vous accueillir à l'aéroport et vous guider vers votre logement ensuite
                        de
                        votre docteur</p>
                </div>

            </div>
        </div>

    </div>
</section><!-- End About Section -->